@mixin flex($justify : center, $align : center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column($justify : center, $align : center){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

$grey:          #d5d5d5;
$blue:          #0483c9;
$alert:         #c0392b;
$success:       #27ae60;
