// Fonts
@import "fonts";

// Variables
@import 'variables';

html {
    scroll-behavior: smooth;
}

button {
    outline: none;
}

body {
    margin: 0;
    background-color: #F4F4F4;
    overflow-x: hidden;
}

* {
    font-family: 'robotomono', sans-serif;
}

.robotomono {
    font-family: 'robotomono', sans-serif;
}

.robotomonoBold {
    font-family: 'robotomono-Bold', sans-serif;
}

.robotomonoLight {
    font-family: 'robotomono-light', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

pre {
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.alert {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: -40px;
    z-index: 1;
    transition: ease 1s;

    .alert-message {
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
        padding: 5px 10px;
        color: white;
    }
}

.border-grey {
    border-bottom: .0625rem solid $grey;
}

#product::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
}

#product::-webkit-scrollbar {
    height: 5px;
    background-color: white;
}

#product::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: black;
}

#productSheet .listPics::-webkit-scrollbar {
    opacity: 0;
}

#productSheet .listPics::-webkit-scrollbar-thumb {
    opacity: 0;
}

#productSheet .listPics::-webkit-scrollbar-track {
    opacity: 0;
}

// CONTACT

body#contact {
    display: flex;
    flex-direction: column;

    article {
        flex-grow: 4;
        @include flex();
        margin-top: 10vh;

        form#formContact {
            display: flex;
            flex-direction: column;
            width: 20vw;
            padding: 0 10px;

            input {
                border: none;
                outline: none;
                width: 100%;
                height: 30px;
                padding-left: 10px;
                margin: 5px 0;
            }

            textarea {
                border: none;
                height: 100px;
                width: 100%;
                outline: none;
                margin: 5px 0;
                padding-left: 10px;
            }

            button {
                color: white;
                border: solid 1px black;
                background-color: black;
                padding: 5px 15px;
                font-size: 1rem;
                width: calc(100% + 15px);
                cursor: pointer;
                transition: ease .5s;
            }

            button:hover {
                color: black;
                background-color: white;
            }
        }

        > div {
            margin-left: 2vw;

            section {
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;

                > h2 {
                    margin-top: 0;
                }

                a {
                    margin: 5px 0;
                }
            }
        }

    }
}

//

// BRANDS

body#brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    > div {
        flex-grow: 4;
        width: 70vw;

        > figure {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            padding-bottom: 35px;

            img {
                width: 200px;
            }

            figcaption {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            article#brand {
                width: 300px;
                height: 205px;
                cursor: pointer;
                margin-bottom: 5px;

                a {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    figure {
                        margin-bottom: 0;

                        img {
                            width: 100%;
                        }

                        figcaption {
                            text-align: center;
                        }
                    }

                    button {
                        display: block;
                        margin: 0 auto;
                        cursor: pointer;
                        background-color: $blue;
                        color: white;
                        border: solid 1px $blue;
                        padding: 5px 10px;
                        transition: 1s;

                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
    }

}

// RESULTS

body#results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    > div {
        flex-grow: 4;

        h2 {
            margin-top: 20px;
            width: 100%;
            text-align: center;
        }

        section {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        }
    }
}

//  PAGINATES

.pagination {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    > li {
        margin: 0 20px;
    }
}


// PRODUCT SHEET

#productSheet {
    height: 100vh;
    @include flex-column(unset, space-between);

    > div {
        display: flex;
        align-items: center;
        flex: 1 1 auto;

        .left {
            width: 50%;
            height: 440px;
            padding: 0 50px;
            @include flex(unset);

            .listPics {
                display: flex;
                height: 100%;
                width: 80px;
                flex-direction: column;
                overflow-y: scroll;

                > img {
                    width: 100%;
                    margin-bottom: 5px;
                }

                > img:last-child {
                    margin-bottom: unset;
                }
            }

            .mainPic {
                @include flex-column();
                width: auto;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-between;
            height: 400px;
            padding: 20px;
            margin-right: 90px;

            > div {
                padding-right: 5vw;
                @include flex-column(unset, unset);

                span {
                    margin-top: 5px;
                    font-size: 11px;
                }

                p {
                    margin: 20px 0;
                }

                .choice {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }

                .size {
                    margin-top: 1em;
                    margin-bottom: 5px;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0;
                    width: 50%;
                    padding: unset;
                    list-style: none;

                    li {
                        height: 30px;
                        width: 30px;
                        background-color: white;
                        border: solid 1px black;
                        cursor: pointer;
                        transition: ease .5s;
                        @include flex();

                        &:hover {
                            background-color: black;
                            color: white;
                        }

                    }

                    li.sizeSelect.active {
                        background-color: black;
                        color: white;
                    }
                }

                label {
                    margin-top: 5px;

                    input {
                        outline: none;
                        width: 85px;
                        text-align: center;
                        font-weight: bold;

                        &::-webkit-inner-spin-button {
                            opacity: 1;
                        }
                    }

                    select {
                        outline: none;
                        width: 160px;
                    }
                }
            }

            button {
                display: block;
                margin: 0 auto;
                color: white;
                border: solid 1px black;
                background-color: black;
                padding: 15px 50px;
                font-size: 1rem;
                cursor: pointer;
                transition: ease .5s;
            }

            button:hover {
                color: black;
                background-color: white;
            }

            h5,
            h2 {
                margin: unset;
            }
        }
    }
}


// NEWS SHEET

#NewsSheet {
    display: flex;
    align-items: center;
    flex-direction: column;

    > article {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 980px;

        .title {
            width: 100%;

            > h2 {
                margin: 0 auto;
                text-align: center;
            }
        }

        .short {
            @include flex();
            position: relative;
            margin: 30px 0 40px;
            padding-bottom: 40px;
            border-radius: 100%;
            border-bottom: 1px solid $grey;
        }

    }
}

// PRODUCT

a#productUnique {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .5s;

        figure {
            figcaption {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        button {
            opacity: 0;
            transition: .5s;
            border: none;
            padding: 5px 15px;
            color: white;
        }

        button {
            cursor: pointer;
            margin-top: -35px;
            border: solid 1px $blue;
            background-color: $blue;

            &:hover {
                background-color: white;
                color: black;
            }
        }

        button:last-child {
            margin-top: 10px;
            background-color: black;
            border: 1px solid black;

            &:hover {
                background-color: white;
                color: black;
            }
        }


        &:hover {
            button {
                opacity: 1;
            }
        }
    }
}

// HOME

#home {
    padding-bottom: 50px;

    section {
        display: block;
        margin: 0 auto;

        > h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            margin: 5vh auto;

            > span {
                width: 325px;
                text-align: center;
            }

            > img {
                height: 20px;
                margin: 0 15px;
            }
        }

        // PRODUCT
        div#product {
            display: flex;
            overflow-x: scroll;
            padding-bottom: 10px;
        }
    }
}

#newsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    > div {

        > figure {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            padding-bottom: 35px;

            img {
                width: 200px;
            }

            figcaption {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        #news {
            width: 80vw;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
            grid-gap: 2vw;

            a {
                width: 100%;
            }
        }
    }

}

// NEWS
#news {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    a {
        width: 15%;
        background-color: white;
        border-radius: 5px;

        div.blue {
            padding: 5px 0;
            text-align: center;
            width: 100%;
            color: white;
            background-color: $blue;
        }

        article {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
                display: block;
                margin: 0 auto;
            }

            section {
                margin: 20px 0;
            }

            .date {
                font-size: 11px;
            }
        }
    }
}

// 404 ERROR

body#ERROR404 {
    background-color: black;
    @include flex-column(space-between);

    p {
        color: white;
        text-align: center;
        font-size: 5rem;

        a {
            font-size: 3rem;
            cursor: pointer;
        }
    }
}

// HEADER

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100vw;


    a > img {
        height: 15vh;
    }

    img, .nav {
        cursor: pointer;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50vw;
        margin-right: 20px;

        .nav {
            color: white;
            transition: 0.5s;

            .basket, .search {
                height: 4vh;
            }
        }

        .nav:nth-child(2),
        .nav:nth-child(3),
        .nav:nth-child(4) {
            width: 7vw;
            text-align: center;
        }

        .nav:nth-child(2):hover,
        .nav:nth-child(3):hover,
        .nav:nth-child(4):hover {

            font-size: 20px;
        }

        .search_bar {
            display: flex;
            align-items: center;

            .search {
                margin-left: 10px;
            }

            input {
                padding: 1px 2px;
                background-color: black;
                border: none;
                width: 0;
                margin-left: 10vw;
                transition: 1s;
                color: white;
                outline: none;
            }

            input:focus {
                width: 10vw;
                padding: 1px 2px;
                margin-left: 0;
                border-bottom: 1px solid white;
            }
        }

        .search_bar:hover {
            input {
                width: 10vw;
                padding: 1px 2px;
                margin-left: 0;
                border-bottom: 1px solid white;
            }
        }

        .sticker {
            @include flex(center, flex-end);
            position: absolute;
            height: 25px;
            width: 25px;
            right: 30px;
            top: 35px;
            border-radius: 100%;
            background-color: $grey;

            .countArticles {
                text-align: center;
                margin-bottom: 3px;
            }
        }
    }
}

// ORDER CONFIRMATION

#order {
    .content {
        width: 1200px;
        display: block;
        margin: 0 auto;
        padding: 2vh 0;

        h1 {
            text-align: center;
            border-bottom: solid 1px black;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .userInfo {
            padding: 0 1vw;

            > div {
                margin: 2px 0;
            }
        }

        .articles {
            padding: 0 1vw;

            .article {
                display: flex;
                margin-bottom: 40px;

                figure {
                    margin: 0;
                    display: flex;

                    figcaption {
                        display: flex;
                        margin-left: 10px;

                        .price {
                            margin-left: 5vw;
                        }
                    }

                }
            }
        }

        .totalPrice {
            font-size: 20px;
        }
    }
}

// BASKET

#cart {
    @include flex-column();

    .content {
        width: 1280px;
        margin-top: 5vh;

        h2 {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px black;
            padding-bottom: 5px;
        }

        .article {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;

            figure {
                width: 30%;
                display: flex;
                margin: 0;

                figcaption {
                    @include flex-column(unset, unset);
                    padding-left: 10px;
                }
            }

            .colors {
                select {
                    width: 150px;
                }
            }

            > div {
                width: 30%;

                &:last-child {
                    width: 10%;

                    input {
                        width: 35px;

                        &::-webkit-inner-spin-button {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        hr {
            display: block;
            width: 90%;
            height: .5px;
            margin: 30px auto;
            border: none;
            background-color: black;
        }

        .order {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5vh;

            button {
                transition: 0.5s;
                font-size: 18px;
                background-color: black;
                border: 1px solid black;
                padding: 5px 15px;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }

        .form {
            @include flex-column();
            max-height: 0;
            width: 980px;
            margin: 0 auto 5vh;
            overflow: hidden;
            transition: 2s;

            > div {
                @include flex(space-around)
            }

            .userInfo {
                @include flex-column(unset, unset);
                margin-right: 15px;
            }

            .card {
                #cardNumber {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            label {
                margin: 10px 0;

                input {
                    height: 25px;
                    border: none;
                }
            }
        }
    }
}

// ADMIN

#admin {
    @include flex-column();
    min-height: 100vh;

    header {
        @include flex();

        .subheader {
            a {
                text-decoration: none;
                padding: 5px 10px;
                border-radius: 10px;
                border: solid 1px white;
                transition: .5s;

                &:hover {
                    color: black;
                    background-color: white;
                }
            }
        }

        > a {
            margin: 0 5vw;

            &:last-child {
                img {
                    height: auto;
                }
            }
        }
    }

    .container {
        flex-grow: 4;
    }

    .login {
        @include flex-column(center, unset);
    }
}
