@font-face {
  font-family: "robotomono";
  src: url("/fonts/RobotoMono-Regular.eot");
  src: url("/fonts/RobotoMono-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoMono-Regular.woff2") format("woff2"), url("/fonts/RobotoMono-Regular.woff") format("woff"), url("/fonts/RobotoMono-Regular.svg#RobotoMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomono-light";
  src: url("/fonts/RobotoMono-Light.eot");
  src: url("/fonts/RobotoMono-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoMono-Light.woff2") format("woff2"), url("/fonts/RobotoMono-Light.woff") format("woff"), url("/fonts/RobotoMono-Light.svg#RobotoMono-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "robotomono-Bold";
  src: url("/fonts/RobotoMono-Bold.eot");
  src: url("/fonts/RobotoMono-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoMono-Bold.woff2") format("woff2"), url("/fonts/RobotoMono-Bold.woff") format("woff"), url("/fonts/RobotoMono-Bold.svg#RobotoMono-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none;
}

body {
  margin: 0;
  background-color: #F4F4F4;
  overflow-x: hidden;
}

* {
  font-family: "robotomono", sans-serif;
}

.robotomono {
  font-family: "robotomono", sans-serif;
}

.robotomonoBold {
  font-family: "robotomono-Bold", sans-serif;
}

.robotomonoLight {
  font-family: "robotomono-light", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

pre {
  color: black;
}

.black {
  background-color: black;
  color: white;
}

body > .alert {
  position: fixed;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  top: -40px;
  z-index: 1;
  transition: ease 1s;
}

body > .alert .alert-message {
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
}

.border-grey {
  border-bottom: 0.0625rem solid #d5d5d5;
}

#product::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
}

#product::-webkit-scrollbar {
  height: 5px;
  background-color: white;
}

#product::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

#productSheet .listPics::-webkit-scrollbar {
  opacity: 0;
}

#productSheet .listPics::-webkit-scrollbar-thumb {
  opacity: 0;
}

#productSheet .listPics::-webkit-scrollbar-track {
  opacity: 0;
}

body#contact {
  display: flex;
  flex-direction: column;
}

body#contact article {
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

body#contact article form#formContact {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 0 10px;
}

body#contact article form#formContact input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  margin: 5px 0;
}

body#contact article form#formContact textarea {
  border: none;
  height: 100px;
  width: 100%;
  outline: none;
  margin: 5px 0;
  padding-left: 10px;
}

body#contact article form#formContact button {
  color: white;
  border: solid 1px black;
  background-color: black;
  padding: 5px 15px;
  font-size: 1rem;
  width: calc(100% + 15px);
  cursor: pointer;
  transition: ease 0.5s;
}

body#contact article form#formContact button:hover {
  color: black;
  background-color: white;
}

body#contact article > div {
  margin-left: 2vw;
}

body#contact article > div section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

body#contact article > div section > h2 {
  margin-top: 0;
}

body#contact article > div section a {
  margin: 5px 0;
}

body#brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body#brands > div {
  flex-grow: 4;
  width: 70vw;
}

body#brands > div > figure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 35px;
}

body#brands > div > figure img {
  width: 200px;
}

body#brands > div > figure figcaption {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body#brands > div section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body#brands > div section article#brand {
  width: 300px;
  height: 250px;
  cursor: pointer;
  margin-bottom: 40px;
}

body#brands > div section article#brand a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body#brands > div section article#brand a figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 4;
  margin-bottom: 0;
}

body#brands > div section article#brand a figure img {
  display: block;
  margin: 0 auto;
}

body#brands > div section article#brand a figure figcaption {
  text-align: center;
}

body#brands > div section article#brand a button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: #0483c9;
  color: white;
  border: solid 1px #0483c9;
  padding: 5px 30px;
  transition: 1s;
}

body#brands > div section article#brand a button:hover {
  background-color: white;
  color: black;
}

body#results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body#results > div {
  flex-grow: 4;
}

body#results > div h2 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

body#results > div section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.pagination > li {
  margin: 0 20px;
}

#productSheet {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: space-between;
}

#productSheet > div {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

#productSheet > div .left {
  width: 50%;
  height: 440px;
  padding: 0 50px;
  display: flex;
  justify-content: unset;
  align-items: center;
}

#productSheet > div .left .listPics {
  display: flex;
  height: 100%;
  width: 80px;
  flex-direction: column;
  overflow-y: scroll;
}

#productSheet > div .left .listPics > img {
  width: 100%;
  margin-bottom: 5px;
}

#productSheet > div .left .listPics > img:last-child {
  margin-bottom: unset;
}

#productSheet > div .left .mainPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

#productSheet > div .right {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  height: 400px;
  padding: 20px;
  margin-right: 90px;
}

#productSheet > div .right > div {
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
}

#productSheet > div .right > div span {
  margin-top: 5px;
  font-size: 11px;
}

#productSheet > div .right > div p {
  margin: 20px 0;
}

#productSheet > div .right > div .choice {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#productSheet > div .right > div .size {
  margin-top: 1em;
  margin-bottom: 5px;
}

#productSheet > div .right > div ul {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  width: 50%;
  padding: unset;
  list-style: none;
}

#productSheet > div .right > div ul li {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  transition: ease 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productSheet > div .right > div ul li:hover {
  background-color: black;
  color: white;
}

#productSheet > div .right > div ul li.sizeSelect.active {
  background-color: black;
  color: white;
}

#productSheet > div .right > div label {
  margin-top: 5px;
}

#productSheet > div .right > div label input {
  outline: none;
  width: 85px;
  text-align: center;
  font-weight: bold;
}

#productSheet > div .right > div label input::-webkit-inner-spin-button {
  opacity: 1;
}

#productSheet > div .right > div label select {
  outline: none;
  width: 160px;
}

#productSheet > div .right button {
  display: block;
  margin: 0 auto;
  color: white;
  border: solid 1px black;
  background-color: black;
  padding: 15px 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: ease 0.5s;
}

#productSheet > div .right button:hover {
  color: black;
  background-color: white;
}

#productSheet > div .right h5,
#productSheet > div .right h2 {
  margin: unset;
}

#NewsSheet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#NewsSheet > article {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 980px;
}

#NewsSheet > article .title {
  width: 100%;
}

#NewsSheet > article .title > h2 {
  margin: 0 auto;
  text-align: center;
}

#NewsSheet > article .short {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px 0 40px;
  padding-bottom: 40px;
  border-radius: 100%;
  border-bottom: 1px solid #d5d5d5;
}

a#productUnique article {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

a#productUnique article figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a#productUnique article button {
  opacity: 0;
  transition: 0.5s;
  border: none;
  padding: 5px 15px;
  color: white;
}

a#productUnique article button {
  cursor: pointer;
  margin-top: -35px;
  border: solid 1px #0483c9;
  background-color: #0483c9;
}

a#productUnique article button:hover {
  background-color: white;
  color: black;
}

a#productUnique article button:last-child {
  margin-top: 10px;
  background-color: black;
  border: 1px solid black;
}

a#productUnique article button:last-child:hover {
  background-color: white;
  color: black;
}

a#productUnique article:hover button {
  opacity: 1;
}

#home {
  padding-bottom: 50px;
}

#home section {
  display: block;
  margin: 0 auto;
}

#home section > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 5vh auto;
}

#home section > h2 > span {
  width: 325px;
  text-align: center;
}

#home section > h2 > img {
  height: 20px;
  margin: 0 15px;
}

#home section div#product {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}

#newsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#newsList > div > figure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 35px;
}

#newsList > div > figure img {
  width: 200px;
}

#newsList > div > figure figcaption {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#newsList > div #news {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 2vw;
}

#newsList > div #news a {
  width: 100%;
}

#news {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

#news a {
  width: 15%;
  background-color: white;
  border-radius: 5px;
}

#news a div.blue {
  padding: 5px 0;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #0483c9;
}

#news a article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#news a article span {
  display: block;
  margin: 0 auto;
}

#news a article section {
  margin: 20px 0;
}

#news a article .date {
  font-size: 11px;
}

body#ERROR404 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body#ERROR404 p {
  color: white;
  text-align: center;
  font-size: 5rem;
}

body#ERROR404 p a {
  font-size: 3rem;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100vw;
}

header a > img {
  height: 15vh;
}

header img,
header .nav {
  cursor: pointer;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  margin-right: 20px;
}

header .menu .nav {
  color: white;
  transition: 0.5s;
}

header .menu .nav .basket,
header .menu .nav .search {
  height: 4vh;
}

header .menu .nav:nth-child(2),
header .menu .nav:nth-child(3),
header .menu .nav:nth-child(4) {
  width: 7vw;
  text-align: center;
}

header .menu .nav:nth-child(2):hover,
header .menu .nav:nth-child(3):hover,
header .menu .nav:nth-child(4):hover {
  font-size: 20px;
}

header .menu .search_bar {
  display: flex;
  align-items: center;
}

header .menu .search_bar .search {
  margin-left: 10px;
}

header .menu .search_bar input {
  padding: 1px 2px;
  background-color: black;
  border: none;
  width: 0;
  margin-left: 10vw;
  transition: 1s;
  color: white;
  outline: none;
}

header .menu .search_bar input:focus {
  width: 10vw;
  padding: 1px 2px;
  margin-left: 0;
  border-bottom: 1px solid white;
}

header .menu .search_bar:hover input {
  width: 10vw;
  padding: 1px 2px;
  margin-left: 0;
  border-bottom: 1px solid white;
}

header .menu .sticker {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  height: 25px;
  width: 25px;
  right: 30px;
  top: 35px;
  border-radius: 100%;
  background-color: #d5d5d5;
}

header .menu .sticker .countArticles {
  text-align: center;
  margin-bottom: 3px;
}

#order .content {
  width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 2vh 0;
}

#order .content h1 {
  text-align: center;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#order .content .userInfo {
  padding: 0 1vw;
}

#order .content .userInfo > div {
  margin: 2px 0;
}

#order .content .articles {
  padding: 0 1vw;
}

#order .content .articles .article {
  display: flex;
  margin-bottom: 40px;
}

#order .content .articles .article figure {
  margin: 0;
  display: flex;
}

#order .content .articles .article figure figcaption {
  display: flex;
  margin-left: 10px;
}

#order .content .articles .article figure figcaption .price {
  margin-left: 5vw;
}

#order .content .totalPrice {
  font-size: 20px;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cart .content {
  width: 1280px;
  margin-top: 5vh;
}

#cart .content h2 {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

#cart .content .article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#cart .content .article figure {
  width: 30%;
  display: flex;
  margin: 0;
}

#cart .content .article figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  padding-left: 10px;
}

#cart .content .article .colors select {
  width: 150px;
}

#cart .content .article > div {
  width: 30%;
}

#cart .content .article > div:last-child {
  width: 10%;
}

#cart .content .article > div:last-child input {
  width: 35px;
}

#cart .content .article > div:last-child input::-webkit-inner-spin-button {
  opacity: 1;
}

#cart .content hr {
  display: block;
  width: 90%;
  height: 0.5px;
  margin: 30px auto;
  border: none;
  background-color: black;
}

#cart .content .order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

#cart .content .order button {
  transition: 0.5s;
  font-size: 18px;
  background-color: black;
  border: 1px solid black;
  padding: 5px 15px;
  color: white;
  cursor: pointer;
}

#cart .content .order button:hover {
  background-color: white;
  color: black;
}

#cart .content .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0;
  width: 980px;
  margin: 0 auto 5vh;
  overflow: hidden;
  transition: 2s;
}

#cart .content .form > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cart .content .form .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  margin-right: 15px;
}

#cart .content .form .card #cardNumber {
  width: 100%;
  margin-bottom: 10px;
}

#cart .content .form label {
  margin: 10px 0;
}

#cart .content .form label input {
  height: 25px;
  border: none;
}

#admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#admin header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#admin header .subheader a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px white;
  transition: 0.5s;
}

#admin header .subheader a:hover {
  color: black;
  background-color: white;
}

#admin header .subheader a.active {
  color: black;
  background-color: white;
}

#admin header > a {
  margin: 0 5vw;
}

#admin header > a:last-child img {
  height: auto;
}

#admin .container {
  flex-grow: 4;
}

#admin .container > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#admin .container > div:first-child > div:first-child {
  width: 10vw;
}

#admin .container > div:first-child h2 {
  text-align: center;
  flex-grow: 4;
  padding-top: 20px;
  margin-bottom: 30px;
}

#admin .container > div:first-child > a {
  width: 10vw;
}

#admin .container .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

#admin .container .list .headList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  border-bottom: solid 1px black;
}

#admin .container .list .headList > span {
  width: 30%;
}

#admin .container .list .headList > span:last-child {
  text-align: right;
}

#admin .container .list .elemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  border-bottom: solid 1px black;
}

#admin .container .list .elemList .option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#admin .container .list .elemList .option a {
  margin-right: 5px;
}

#admin .container .list .elemList > span,
#admin .container .list .elemList .option {
  width: 33%;
}

#admin .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
}

#admin .alert {
  top: 10vh;
}

#admin .alert .alert-message {
  text-transform: uppercase;
  background-color: #27ae60;
}

#admin > .option {
  padding-top: 5vh;
  margin-bottom: 2vh;
}

#admin > .option h2 {
  text-align: center;
  font-weight: bold;
  border-bottom: solid 1px black;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}

#admin > .option form .name {
  width: 20%;
}

#admin > .option form #editor {
  height: 15vh;
  background-color: white;
}

#admin > .option form .form-row .brand {
  margin-right: 10vw;
  width: 20%;
}

#admin > .option form .form-row .price {
  width: 10%;
}

#admin > .option form .form-row .price > div {
  display: flex;
  align-items: center;
  font-weight: bold;
}

#admin > .option form .form-row .price > div > span {
  margin-left: 15px;
}

#admin > .option .files {
  margin-bottom: 2vh;
}

#admin > .option .files_upload {
  display: flex;
  justify-content: space-between;
  align-items: unset;
}

#admin > .option .files_upload > .form-group {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
}

#admin > .option .published {
  margin-top: 20px;
}

#admin > .option .btn-option {
  width: 100%;
  margin-top: 2vh;
  font-weight: bold;
}

#admin > .option button:not(.ql-bold, .ql-italic, .ql-underline, .ql-line) {
  width: 100%;
  margin-top: 5vh;
  font-weight: bold;
}

