@font-face {
  font-family: "robotomono";
  src: url("/fonts/RobotoMono-Regular.eot");
  src: url("/fonts/RobotoMono-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoMono-Regular.woff2") format("woff2"), url("/fonts/RobotoMono-Regular.woff") format("woff"), url("/fonts/RobotoMono-Regular.svg#RobotoMono-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomono-light";
  src: url("/fonts/RobotoMono-Light.eot");
  src: url("/fonts/RobotoMono-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoMono-Light.woff2") format("woff2"), url("/fonts/RobotoMono-Light.woff") format("woff"), url("/fonts/RobotoMono-Light.svg#RobotoMono-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "robotomono-Bold";
  src: url("/fonts/RobotoMono-Bold.eot");
  src: url("/fonts/RobotoMono-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoMono-Bold.woff2") format("woff2"), url("/fonts/RobotoMono-Bold.woff") format("woff"), url("/fonts/RobotoMono-Bold.svg#RobotoMono-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F4F4F4;
  overflow-x: hidden;
}

* {
  font-family: "robotomono", sans-serif;
}

.robotomono {
  font-family: "robotomono", sans-serif;
}

.robotomonoBold {
  font-family: "robotomono-Bold", sans-serif;
}

.robotomonoLight {
  font-family: "robotomono-light", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

pre {
  color: black;
}

.black {
  background-color: black;
  color: white;
}

#product::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
}

#product::-webkit-scrollbar {
  height: 5px;
  background-color: white;
}

#product::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

#productSheet .listPics::-webkit-scrollbar {
  opacity: 0;
}

#productSheet .listPics::-webkit-scrollbar-thumb {
  opacity: 0;
}

#productSheet .listPics::-webkit-scrollbar-track {
  opacity: 0;
}

#productSheet {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: space-between;
}

#productSheet > div {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

#productSheet > div .left {
  width: 50%;
  height: 440px;
  padding: 0 50px;
  display: flex;
  justify-content: unset;
  align-items: center;
}

#productSheet > div .left .listPics {
  display: flex;
  height: 100%;
  width: 80px;
  flex-direction: column;
  overflow-y: scroll;
}

#productSheet > div .left .listPics > img {
  width: 100%;
  margin-bottom: 5px;
}

#productSheet > div .left .listPics > img:last-child {
  margin-bottom: unset;
}

#productSheet > div .left .mainPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

#productSheet > div .right {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  height: 400px;
  padding: 20px;
  margin-right: 90px;
}

#productSheet > div .right > div {
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
}

#productSheet > div .right > div span {
  margin-top: 5px;
  font-size: 11px;
}

#productSheet > div .right > div p {
  margin: 20px 0;
}

#productSheet > div .right > div .choice {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#productSheet > div .right > div .size {
  margin-top: 1em;
  margin-bottom: 5px;
}

#productSheet > div .right > div ul {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  width: 50%;
  padding: unset;
  list-style: none;
}

#productSheet > div .right > div ul li {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  transition: ease 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#productSheet > div .right > div ul li:hover {
  background-color: black;
  color: white;
}

#productSheet > div .right > div ul li.sizeSelect.active {
  background-color: black;
  color: white;
}

#productSheet > div .right > div label {
  margin-top: 5px;
}

#productSheet > div .right > div label input {
  outline: none;
  width: 85px;
  text-align: center;
  font-weight: bold;
}

#productSheet > div .right > div label input::-webkit-inner-spin-button {
  opacity: 1;
}

#productSheet > div .right > div label select {
  outline: none;
  width: 160px;
}

#productSheet > div .right button {
  display: block;
  margin: 0 auto;
  color: white;
  border: solid 1px black;
  background-color: black;
  padding: 15px 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: ease 0.5s;
}

#productSheet > div .right button:hover {
  color: black;
  background-color: white;
}

#productSheet > div .right h5,
#productSheet > div .right h2 {
  margin: unset;
}

#NewsSheet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#NewsSheet > article {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 980px;
}

#NewsSheet > article .title {
  width: 100%;
}

#NewsSheet > article .title > h2 {
  margin: 0 auto;
  text-align: center;
}

#NewsSheet > article .short {
  margin: 30px 0 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d5d5d5;
}

#home {
  overflow-y: hidden;
}

#home section {
  display: block;
  margin: 0 auto;
}

#home section > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh auto;
}

#home section > h2 > span {
  width: 235px;
  text-align: center;
}

#home section > h2 > img {
  height: 20px;
  margin: 0 15px;
}

#home section div#product {
  display: flex;
  overflow-x: scroll;
}

#home section div#product figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home section div#news {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

#home section div#news a {
  padding: 10px;
  width: 15%;
  background-color: white;
  border-radius: 5px;
  border-bottom: 0.0625rem solid #d5d5d5;
}

#home section div#news a article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#home section div#news a article span {
  display: block;
  margin: 0 auto;
}

#home section div#news a article section {
  margin: 20px 0;
}

#home section div#news a article .date {
  font-size: 11px;
}

#home section.black {
  padding: 15px 0;
}

body#ERROR404 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body#ERROR404 p {
  color: white;
  text-align: center;
  font-size: 5rem;
}

body#ERROR404 p a {
  font-size: 3rem;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
}

header a > img {
  height: 15vh;
}

header img,
header .nav {
  cursor: pointer;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  margin-right: 20px;
}

header .menu .nav {
  color: white;
  transition: 0.5s;
}

header .menu .nav .basket,
header .menu .nav .search {
  height: 4vh;
}

header .menu .nav:nth-child(2),
header .menu .nav:nth-child(3),
header .menu .nav:nth-child(4) {
  width: 7vw;
  text-align: center;
}

header .menu .nav:nth-child(2):hover,
header .menu .nav:nth-child(3):hover,
header .menu .nav:nth-child(4):hover {
  font-size: 20px;
}

header .menu .search_bar {
  display: flex;
  align-items: center;
}

header .menu .search_bar .search {
  margin-left: 10px;
}

header .menu .search_bar input {
  background-color: black;
  border: none;
  width: 0;
  margin-left: 10vw;
  transition: 1s;
  color: white;
  outline: none;
  border-bottom: 1px solid white;
}

header .menu .search_bar input:focus {
  width: 10vw;
  margin-left: 0;
}

header .menu .search_bar:hover input {
  width: 10vw;
  margin-left: 0;
}

